*, ::before, ::after {box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    height: 100vh;
    background: #202020;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

form {
    display: grid;
    place-items: center;
    margin-top: 60px;

    label {   
        +label {
            margin-top: 2rem;    
        }

        select, input {
            padding: 3px 5px;
            margin: 0 0 0 10px;
            border: 1px solid whitesmoke;
            border-radius: 7px;
            font-family: 'Nunito', sans-serif;
            background: #202020;
            color: whitesmoke;
        }

        select {
            cursor: pointer;
        }   
    }

    .dynamic-color {
        display: grid;
        place-items: center; 
        margin-top: 60px;
        
        div {
            display: grid;
            place-items: center;
            width: 150px;
            height: 150px;
            border: 3px whitesmoke solid;
            border-radius: 50%;
            transition: background .7s;
            position: relative;
            text-align: center;

            h3 {
                position: absolute;
                width: 100%;
                white-space: nowrap;
                word-wrap: hidden;
                overflow: hidden;
                color: rgb(160, 159, 159);
            }
        }
    }
}