*, ::before, ::after {box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    height: 100vh;
    background: #202020;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    font-size: 27px;
}

form {
    display: grid;
    place-items: center;
    margin-top: 60px;

    label {   
        +label {
            margin-top: 2rem;    
        }

        select, input {
            padding: 3px 5px;
            margin: 0 0 0 10px;
            border: 1px solid whitesmoke;
            border-radius: 7px;
            font-family: 'Nunito', sans-serif;
            background: #202020;
            color: whitesmoke;
        }

        select {
            cursor: pointer;
        }   
    }
}

.dynamic-color {
    display: grid;
    place-items: center; 
    margin-top: 60px;

    .circle {
        h3 {
            white-space: nowrap;
            word-wrap: hidden;
            overflow: hidden;
            color: rgb(160, 159, 159);
        }
    }
}